# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# ZMK local build
.west/
build/
modules/
zephyr/
zmk/
bootloader/
tools/

# keymap-drawer intermediate
docs/keymap/charybdis_parsed.yaml

# Firmware output
firmware/

# GSD / bg-shell
.gsd/
.bg-shell/

# west-managed external modules (fetched by `west update`)
prospector-zmk-module/
zmk-driver-azoteq-iqs5xx/
zmk-pmw3610-driver/

# Nix
devenv.lock
result
