config SHIELD_CORNE_TPS43_DONGLE
    def_bool $(shields_list_contains,corne_tps43_dongle)

config SHIELD_CORNE_TPS43_LEFT
    def_bool $(shields_list_contains,corne_tps43_left)

config SHIELD_CORNE_TPS43_RIGHT
    def_bool $(shields_list_contains,corne_tps43_right)
